<h2><%= I18n.t('helpers.links.edit') %> <%= I18n.t('activerecord.models.user.one') %></h2>

<%= simple_form_for(resource, :as => resource_name, html: { :multipart => true }, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.error_notification %>

    <div class="row-fluid">
      <div class="col-md-offset-1 col-md-4">
        <div class="form-inputs form-horizontal">

          <%= f.input :email, :required => true, :autofocus => true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p><%= I18n.t('devise.options.waiting_for_confirmation_for', email: resource.unconfirmed_email) %></p>
          <% end %>

          <%= f.input :password, :autocomplete => 'off', :hint => I18n.t('devise.passwords.leave_blank_hint'), :required => false %>
          <%= f.input :password_confirmation, :required => false %>
          <br/>
          <%= f.input :current_password, :hint => I18n.t('devise.passwords.current_password_needed_hint'), :required => true %>
        </div>
        <br/>
        <div class="form-actions">
          <%= f.button :submit, I18n.t('helpers.submit.update', model: I18n.t('activerecord.models.user.one')) %>
        </div>
<% end %>
        <hr/>
        <h3><%= I18n.t('devise.options.cancel_my_account') %></h3>

        <p><%= I18n.t('devise.options.unhappy') %>? <%= link_to I18n.t('devise.options.cancel_my_account'), registration_path(resource_name), :data => { :confirm => I18n.t('helpers.links.confirm') }, :method => :delete %></p>

        <%= link_to I18n.t('helpers.links.back'), :back %>
      </div>
    </div>


