<h2><%= I18n.t('devise.options.sign_up') %></h2>

<%= simple_form_for(resource, :as => resource_name, html: { :class => 'form-horizontal', :multipart => true }, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

    <div class="row-fluid">
      <div class="col-md-2">
        <div class="text-center">
          <p class='help-block'><%= I18n.t('simple_form.labels.user.profile_picture') %></p>
          <%= image_tag resource.avatar.url %>
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-4">
        <div class="form-inputs form-horizontal">
            <%= f.input :name %>
            <%= f.input :email, :required => true, :autofocus => true %>
            <%= f.input :password, :required => true %>
            <%= f.input :password_confirmation, :required => true %>
            <br/>
            <div class="control-group">
              <div class="controls">
                <h4 class="help-block"><%= I18n.t('users.user.add_your_location_suggestion') %></h4>
              </div>
            </div>

            <%= f.input :country_alpha2 do %>
                <%= f.select :country_alpha2, options_for_select(available_countries.map {|c| [c.name, c.alpha2]}.insert(0, '')), {}, { id:'cb_generic_country', :class => 'form-control', :include_blank => 'None Specified' } %>
            <% end %>
            <%= f.input :district_alpha2 do %>
                <%= f.select :district_alpha2, {}, {}, { id:'cb_generic_district', :class => 'form-control', include_blank: true } %>
            <% end %>
            <%= f.input :city_id do %>
                <%= f.select :city_id, {}, {}, { :id => 'cb_generic_city', :class => 'form-control', include_blank: true } %>
            <% end %>

        </div>
        <br/>
        <div class="form-actions">
          <%= f.button :submit, I18n.t('devise.options.sign_up') %>
        </div>
        <br/>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
<% end %>
</div>