<%= simple_form_for(@artist, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>
    <div class="container-fluid">
      <div class="row-fluid col-md-10">
        <div class="col-md-3 text-center">
          <div class="control-group">
            <strong><%= I18n.t('simple_form.labels.artist.photo') %></strong><br/>
            <% if @artist.external_photo %>
                <%= image_tag @artist.external_photo, width: '200' %> <br/>
                <%= link_to 'link', @artist.external_photo %>
            <% else %>
                <%= image_tag @artist.photo.url, width: '200' %>
            <% end %>
          </div>
          <div class="control-group">
            <strong><%= I18n.t('simple_form.labels.artist.icon') %></strong><br/>
            <% if @artist.external_icon %>
                <%= image_tag @artist.external_icon, size: '16x16' %><br/>
                <%= link_to 'external link', @artist.external_icon %>
            <% else %>
                <%= image_tag @artist.icon.url, size: '16x16' %>
            <% end %>
          </div>
        </div>
        <div class="col-md-9">

          <%= f.input :external_photo %>
          <%= f.input :photo do %>
              <%= f.file_field :photo %>
          <% end %>

          <%= f.input :external_icon %>
          <%= f.input :icon do %>
              <%= f.file_field :icon %>
          <% end %>

          <div class="checkbox">
              <%= f.input_field :visible, :inline_label => true %>
          </div>

          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :country_alpha2 do %>
              <%= f.select :country_alpha2, options_for_select(available_countries.map {|c| [c.name, c.alpha2]}.insert(0, ''), @artist.country_alpha2), {}, { id:'cb_generic_country', class:'form-control' } %>
          <% end %>


          <%= f.input :phone %>

          <%= f.input :website %>
          <%= f.association :subcategory %>
          <div class="checkbox">
            <%= f.input_field :trusted, :inline_label => true %>
          </div>

          <hr/>
          <div class="checkbox">
            <%= f.input_field :enable_crawler, :inline_label => true %>
          </div>
          <%= f.input :crawler_feed_url %>

          <br/>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        </div>
      </div>
    </div>

<% end %>
