<h2><%= "#{I18n.t('helpers.links.edit')} #{I18n.t('activerecord.models.artist.one')}" %> </h2>

<%= render 'form' %>

<%= link_to I18n.t('helpers.links.show'), @artist %> |
<%= link_to I18n.t('helpers.links.back'), artists_path %>
