<h1><%= I18n.t('activerecord.models.artist.other') %></h1>

<table class='table table-condensed table-striped'>
  <thead>
  <tr>
    <th></th>
    <th><%= I18n.t('simple_form.labels.artist.name') %></th>
    <th><%= I18n.t('simple_form.labels.artist.country_alpha2') %></th>
    <th><%= I18n.t('simple_form.labels.artist.subcategory') %></th>
    <% if current_user and current_user.admin? %>
      <th>Crawler</th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @artists.each do |artist| %>
      <tr>
        <td style="width: 20px">
          <%= image_tag artist.icon_url, size: '16x16' %>
        </td>
        <td>
          <i class="<%= artist.trusted ? 'glyphicon glyphicon-eye-open' : 'glyphicon glyphicon-eye-close' %>" title="<%= artist.trusted ? I18n.t('artists.artist.trusted_crawler_info') : I18n.t('artists.artist.untrusted_crawler_info') %>"></i>
          <i class="<%= artist.enable_crawler ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove' %>" title="<%= artist.enable_crawler ? I18n.t('artists.artist.enabled_crawler_info') : I18n.t('artists.artist.disabled_crawler_info') %>"></i>
          <%= link_to artist.name, artist_path(artist) %>
        </td>
        <td>
          <%= artist.country_alpha2 %>
        </td>
        <td>
          <%= artist.subcategory.name %>
        </td>
        <% if current_user and current_user.admin? %>
            <td><%= ICrawler.get_crawler_class_icon(artist.crawler_feed_url) %></td>
        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>

<br>


<%= link_to "#{I18n.t('helpers.links.new')} #{I18n.t('activerecord.models.artist.one')}", new_artist_path %>
