<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="col-md-4">
    <div class="text-center">
        <h3><%= @artist.name %> </h3>
        <p><%= @artist.subcategory.name %></p>
        <%= image_tag @artist.photo_url, width: '200' %>
        <p><%= link_to(@artist.website, @artist.website, :target => 'blank') unless @artist.website.blank? %></p>
      <div class="panel-group" id="accordion">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <%= I18n.t('artists.artist.plus_info') %> </a>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body text-left">
            <p>
              <span class='glyphicon glyphicon-home'></span>
              <%= @artist.address if !@artist.address.blank? %>
              <br/>
              <%= Country[@artist.country_alpha2].try(:name) %>
            </p>
            <% if !@artist.phone.blank? %>
                <p>
                  <span class='glyphicon glyphicon-earphone'></span>
                  <%= @artist.phone %>
                </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h4> <%= I18n.t('artists.artist.shows_of', venue: @artist.name) %>:</h4>
    <dl>
      <% @showList.each_with_index do |item, index| %>
          <% if index == 0 || @showList[index-1].date.to_date != @showList[index].date.to_date %>
              <br/>
              <dt>
                <% if Date.today == item.date.to_date %>
                    <%= I18n.t('date.today')%>
                <% elsif Date.tomorrow == item.date.to_date %>
                    <%= I18n.t('date.tomorrow')%>
                <% else %>
                    <%= I18n.l item.date %>
                <% end %>
              </dt>
          <% end %>
          <dd>
            <%= link_to item.city_name.html_safe, show_path(item.id) %>
            <%= "- #{Country[item.country_alpha2].states[item.district_alpha2]['name']}" if show_state(item.country_alpha2) %>
            <%= "- #{I18n.t('shows.canceled')}"  if item.canceled %>
          </dd>
      <% end %>
    </dl>
  </div>

  <div class="row-fluid col-md-11 col-md-offset-1">
    <% if current_user and current_user.admin? %>
        <hr/>
        <h4>Admin info</h4>
        <p>
          <strong>Icon:</strong>
          <%= image_tag @artist.icon_url, size: '16x16' %>
        </p>
        <p>
          <strong>Visible:</strong>
          <% if @artist.visible %>
              Yes
          <% else %>
              <span class="glyphicon glyphicon-warning-sign">No</span>
          <% end %>
        </p>
        <p>
          <strong>Trusted:</strong>
          <% if @artist.trusted %>
              Yes
          <% else %>
              <span class="label label-warning">No</span>
          <% end %>
        </p>
        <p>
          <strong>Enable crawler:</strong>
          <% if @artist.enable_crawler %>
              Yes
          <% else %>
              <span class="label label-important">No</span>
          <% end %>
        </p>
        <p>
          <strong>Crawler feed URL:</strong>
          <%= link_to @artist.crawler_feed_url, @artist.crawler_feed_url %>
        </p>
        <p>
          <strong>Detected Crawler Class:</strong>
          <text class='label label-info'><%= ICrawler.get_crawler_class(@artist.crawler_feed_url) %></text>
          <% if ICrawler.get_crawler_class(@artist.crawler_feed_url) %>
              <%= link_to 'run crawler!', artist_run_path(@artist), class: 'btn btn-small' %>
          <% end %>
        </p>
        <% if ICrawler.get_crawler_class(@artist.crawler_feed_url) == IVenueCrawler::FACEBOOK %>
            <p>
              <strong>Facebook User Id:</strong>
              <%= ICrawler.parse_user_id(@artist.crawler_feed_url) %>
            </p>
        <% end %>
        <% if @fb_eventList %>
            <div class="accordion" id="fb_events_accordion">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseCrawlerSource">
                    <strong>Facebook events</strong>
                  </a>
                </div>
                <div id="collapseCrawlerSource" class="panel-collapse collapse">
                  <div class="accordion-inner">
                    <% @fb_eventList.each do |fb_event| %>
                        <li>
                          <% if DateTime.parse(fb_event['start_time']) < DateTime.now %>
                              <%= "[OLD]" %>
                          <% end %>
                          <%="#{fb_event['name']} @ #{DateTime.parse(fb_event['start_time'])}" %>
                          <br/>
                        </li>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% elsif @bandsintown_eventList %>
            <div class="accordion" id="fb_events_accordion">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseCrawlerSource">
                    <strong>Bands In Town events</strong>
                  </a>
                </div>
                <div id="collapseCrawlerSource" class="panel-collapse collapse">
                  <div class="accordion-inner">
                    <% @bandsintown_eventList.each do |bit_event| %>
                        <li>
                          <% if bit_event.datetime < DateTime.now %>
                              <%= "[OLD]" %>
                          <% end %>
                          <%="[#{bit_event.datetime}]: #{bit_event.venue.country} - #{bit_event.venue.city} @ #{bit_event.venue.name}" %>
                          <br/>
                        </li>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
          <div class="panel-group " id="accordion">
            <% @latest_artist_crawler_reports.each do |crawler_report| %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= crawler_report.id %>">
                        <% if crawler_report.automatic %>
                            <i class='glyphicon glyphicon-hdd' title="made by automatic task"></i>
                        <% end %>
                        <%= crawler_report.created_at %>
                        [
                        duration:<%= crawler_report.duration.utc.strftime("%H:%M:%S") %> |
                        success:<%= crawler_report.success_count %> |
                        edit:<%= crawler_report.edit_count %> |
                        cancelled:<%= crawler_report.cancelled_count %> |
                        fail:<%= crawler_report.fail_count %> |
                        skip:<%= crawler_report.skip_count %>
                        ]
                      </a>
                    </h4>
                  </div>
                  <div id="collapse<%= crawler_report.id %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <strong>Log:</strong>
                      <pre>
                        <%= crawler_report.log.html_safe %>
                      </pre>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        <hr/>
  <% end %>
  </div>
 </div>
</div>
<br/>
<div class="col-md-offset-1">
    <% if can? :edit, @artist %>
        <%= link_to I18n.t('helpers.links.edit'), edit_artist_path(@artist) %> |
    <% end %>
    <%= link_to I18n.t('activerecord.models.artist.other'), artists_path %>

    <% if can? :destroy, @artist %>
        <hr class="divider"></hr>
        <div class="alert alert-error">
          <%= link_to I18n.t('helpers.links.destroy'), artist_path(@artist), method: :delete, data: { confirm: I18n.t('helpers.links.confirm') } %>
          <%= I18n.t('helpers.titles.delete_warning', model: I18n.t('activerecord.models.artist.one')) %>
        </div>
    <% end %>
</div>