
<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated on Sat, 14 Jun 2014 09:38:29 +0100 -->
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="http://www.theatrocirco.com/rss.php" rel="self" type="application/rss+xml" />
    <title>Theatro Circo - Agenda de Eventos</title>
    <link>http://www.theatrocirco.com/agenda/embreve.php</link>
    <description>Todos os eventos a decorrer no TheatroCirco, desde música, teatro e outros.</description>
    <language>pt-pt</language>
    <generator>TheatroCirco RSS Feed Generator</generator>
    <item>
      <title><![CDATA[25º ANIVERSÁRIO DO ENCONTRO INTERNACIONAL DE GIGANTONES E CABEÇUDOS (SÁB 14 JUN 16,30h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2837_280x0.jpg" /><p>O Encontro Internacional de Gigantones e Cabeçudos é um dos momentos mais interessantes das Festas de São João em Braga. Além de homenagear os seus intervenientes, esta sessão pretende promover a cultura popular, contando com a participação de...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1267</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1267</guid>
      <category>Outros</category>
    </item>
    <item>
      <title><![CDATA[CASCATAS MUSICAIS: I CONCERTO CORAL E INSTRUMENTAL DE S. JOÃO (SÁB 14 JUN 21,30h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2865_280x0.jpg" /><p>“Cascatas Musicais” revela-se como o I Festival Coral Polifónico integrado nas Festas de São João de Braga. Para além de dar a conhecer a fortíssima tradição musical enraizada na comunidade bracarense, este espetáculo pretende promover o...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1268</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1268</guid>
      <category>Música</category>
    </item>
    <item>
      <title><![CDATA[R5 (DOM 15 JUN 17,00h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2804_280x0.jpg" /><p>Quem não conhece Ross, da série "Austin & Ally"?  Com os irmãos Rocky, Riker, Rydel e Ratlif, Ross percorre os palcos internacionais com a enérgica R5, banda norte-americana que em Junho chega a Portugal com LOUDER WORLD TOUR!  Vais perder?!...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1246</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1246</guid>
      <category>Música</category>
    </item>
    <item>
      <title><![CDATA[O ÚLTIMO TANGO EM PARIS (SEG 16 JUN 21,30h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2855_280x0.jpg" /><p>De Bernardo Bertolucci<br />
1972 | 136’ | M18 | Itália, França<br />
Paul, um americano de 45 anos a viver em Paris e marcado pelo recente suicídio da mulher, conhece Jeanne, uma bela parisiense de 20 anos, quando ambos procuravam um apartamento...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1277</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1277</guid>
      <category>Cinema</category>
    </item>
    <item>
      <title><![CDATA[HILMAR ÖRN HILMARSSON com Valter Hugo Mãe (QUA 18 JUN 21,30h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2839_280x0.jpg" /><p>A mitologia da música islandesa encontra em Hilmar Örn Hilmarsson (HÖH) a sua figura suprema. Compositor de luxo, ligado a projetos lendários como Theyr, Psychic Tv, Current 93 ou Sigur Rós, HÖH é um mestre atuando pela primeira vez em Portugal....</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1269</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1269</guid>
      <category>Outros</category>
    </item>
    <item>
      <title><![CDATA[ANGÚRIA (SEX 20 JUN 21,30h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2842_280x0.jpg" /><p>A primeira edição do Festival “O Pequeno Irmão” pretende manifestar autores e bandas emergentes, entre novatos e veteranos, cujo desafio é ser original. Num total de oito concertos, a segunda vaga espraia-se dia 19 de Julho, na praia dos Atomic,...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1270</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1270</guid>
      <category>Música</category>
    </item>
    <item>
      <title><![CDATA[BED LEGS (SEX 20 JUN 22,30h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2860_280x0.jpg" /><p>A primeira edição do Festival “O Pequeno Irmão” pretende manifestar autores e bandas emergentes, entre novatos e veteranos, cujo desafio é ser original. Num total de oito concertos, a segunda vaga espraia-se dia 19 de Julho, na praia dos Atomic,...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1279</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1279</guid>
      <category>Música</category>
    </item>
    <item>
      <title><![CDATA[CADEIRA ELÉCTRICA (SEX 20 JUN 23,30h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2861_280x0.jpg" /><p>A primeira edição do Festival “O Pequeno Irmão” pretende manifestar autores e bandas emergentes, entre novatos e veteranos, cujo desafio é ser original. Num total de oito concertos, a segunda vaga espraia-se dia 19 de Julho, na praia dos Atomic,...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1280</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1280</guid>
      <category>Música</category>
    </item>
    <item>
      <title><![CDATA[AT FREDDY'S HOUSE (SÁB 21 JUN 00,30h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2862_280x0.jpg" /><p>A primeira edição do Festival “O Pequeno Irmão” pretende manifestar autores e bandas emergentes, entre novatos e veteranos, cujo desafio é ser original. Num total de oito concertos, a segunda vaga espraia-se dia 19 de Julho, na praia dos Atomic,...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1281</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1281</guid>
      <category>Música</category>
    </item>
    <item>
      <title><![CDATA[CAVAQUINHO, MACHETE DE BRAGA OU BRAGUINHA  (SÁB 21 JUN 18,00h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2847_280x0.jpg" /><p>A APC Instrumentos Musicais realiza entre os dias 21 e 28 de Junho uma exposição daquele que é o mais tradicional e genuíno instrumento da região minhota: o cavaquinho. A sua origem, sonoridade e história poderão ser conhecidas durante este...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1271</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1271</guid>
      <category>Outros</category>
    </item>
    <item>
      <title><![CDATA[JÚLIO PEREIRA (SÁB 21 JUN 21,30h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2848_280x0.jpg" /><p>O trabalho e a prestação artística de Júlio Pereira continuam a provocar surpresa. O compositor e multi-instrumentista revisita agora, percorrida a viagem de sons que o levaram a muitos lu(g)ares e paisagens criativas, o universo acústico de um...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1272</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1272</guid>
      <category>Música</category>
    </item>
    <item>
      <title><![CDATA[CAFÉ CANTATA (QUA 25 JUN 19,00h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2850_280x0.jpg" /><p>Em 1732, Johann Sebastian Bach escreveu a cantata profana: “KaffeeKantate”. A obra, encomendada a Bach por um dono de uma cafetaria em Leipzig, frequentada pelo compositor, revela-nos o conflito entre um pai e a sua filha. O pai quer que Lieschen...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1273</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1273</guid>
      <category>Música</category>
    </item>
    <item>
      <title><![CDATA[CLÃ (QUI 26 JUN 22,00h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2852_280x0.jpg" /><p>Os Clã estão de volta com novo álbum - “Corrente” - e nova digressão. É o regresso dos Clã aos palcos, seu elemento natural, onde sabemos que iremos encontrar o rigor, a irreverência e a energia desta banda, reconhecida pela excelência das...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1274</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1274</guid>
      <category>Música</category>
    </item>
    <item>
      <title><![CDATA[GRANDE PRÉMIO DE LITERATURA DST (SÁB 28 JUN 21,30h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2870_280x0.jpg" /><p>O Grande Prémio de Literatura dst é instituído pela “dst domingos da silva teixeira, s.a.” e destina-se a galardoar todos os anos uma obra em português, de autor português nascido e residente no território nacional. Este ano a entrega do...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1284</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1284</guid>
      <category>Outros</category>
    </item>
    <item>
      <title><![CDATA[O IMPÉRIO DOS SENTIDOS (SEG 30 JUN 23,59h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2856_280x0.jpg" /><p>de Nagisa Oshima<br />
1976 | 108’ | M18 | Japão, França<br />
Japão, 1936. Sada (Eiko Matsuda), uma ex-prostituta, inicia um tórrido caso com Kichizo (Tatsuya Fuji), seu patrão. O que parecia uma diversão inconsequente logo se transforma numa...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1278</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1278</guid>
      <category>Cinema</category>
    </item>
    <item>
      <title><![CDATA[THE GIFT (QUA 16 JUL 22,00h)]]></title>
      <description><![CDATA[<img src="http://www.theatrocirco.com/images/2868_280x0.jpg" /><p>Para nós este palco sempre será especial... cremos que não há melhor maneira de caracterizar este espectáculo. Para o Theatro Circo estamos a preparar uma noite única onde tentaremos resumir os quase 20 anos de carreira... 20 anos. Em palco 7...</p>]]></description>
      <link>http://www.theatrocirco.com/agenda/evento.php?id=1283</link>
      <pubDate>Sat, 14 Jun 2014 09:38:29 GMT</pubDate>
      <guid isPermaLink="true">1283</guid>
      <category>Música</category>
    </item>
  </channel>
</rss>