<%- if controller_name != 'sessions' %>
  <%= link_to I18n.t('devise.options.login'), new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to I18n.t('devise.options.sign_up'), new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to I18n.t('devise.options.password_forgotten')+'?', new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to I18n.t('devise.options.confirmation_instructions_request'), new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to I18n.t('devise.options.unlock_instructions_request'), new_unlock_path(resource_name) %><br />
<% end -%>

