<%= select_tag :country, options_for_select(available_countries.map{|c| [c.name, c.alpha2]}, requestCountry),
               { id:'cb_country', :class => 'form-control col-md-12' } %>

<%= render 'districts/districts_select', country_alpha2: requestCountry %>

<!-- <pre id="country_map" style="width: 215px; height: 310px;"> -->
<pre id="country_map">
</pre>

<% if Rails.env.development? %>
  <div id="clicked-state">
    <p>
      <div id="amount"></div>
    </p>
  </div>
<% end %>




