<h1>Listing Votes</h1>

<table>
  <tr>
    <th>id</th>
    <th>User_id</th>
    <th>Show_id</th>
    <th>Subcategory_id</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @subcategory_vote.each do |vote| %>
      <tr>
        <td><%= vote.id %></td>
        <td><%= vote.user_id %></td>
        <td><%= vote.show_id %></td>
        <td><%= vote.subcategory_id %></td>
        <td><%= vote.amount %></td>
      </tr>
  <% end %>
</table>