<%
  peopleAttendingCount = @show.show_votes.attending.count
%>

<div class="btn-group btn-group-vertical">
    <% if user_signed_in? %>
      <% if current_user.show_votes.attending.this_show(@show.id).count == 0 %>
          <%= link_to raw("<i class='glyphicon glyphicon-chevron-up'></i>"), show_votes_path(show_id:@show.id, vote_type: ShowVote::TYPE_ATTENDING), method: :post, remote: true, class: 'btn btn-small btn-primary', title:I18n.t('shows.show.votes.i_will_go') %>
          <h4 class="text-center" title="<%= I18n.t('shows.show.votes.people_attending') %>"><%= peopleAttendingCount %></h4>
          <button class='btn btn-small btn-primary disabled' title="<%= I18n.t('shows.show.votes.i_will_not_go') %>">
            <i class='glyphicon glyphicon-chevron-down'></i>
          </button>
      <% else %>
          <button class='btn btn-small btn-primary disabled' title="<%= I18n.t('shows.show.votes.i_will_go') %>">
            <i class='glyphicon glyphicon-chevron-up'></i>
          </button>
          <h4 class="text-center" title="<%= I18n.t('shows.show.votes.people_attending')%>"><%= peopleAttendingCount %></h4>
          <%= link_to raw("<i class='glyphicon glyphicon-chevron-down'></i>"), show_vote_path(id:current_user.show_votes.attending.this_show(@show.id).first.id), method: :delete, remote: true, class: 'btn btn-small btn-primary', title: I18n.t('shows.show.votes.i_will_not_go') %>
      <% end %>
    <% else %>
      <%= link_to raw("<i class='glyphicon glyphicon-chevron-up'></i>"), new_user_session_path, class: 'btn btn-small btn-primary', title:I18n.t('shows.show.votes.i_will_go') %>
      <h4 class="text-center" title="<%= I18n.t('shows.show.votes.people_attending')%>"><%= peopleAttendingCount %></h4>
      <%= link_to raw("<i class='glyphicon glyphicon-chevron-down'></i>"), new_user_session_path, class: 'btn btn-small btn-primary', title:I18n.t('shows.show.votes.i_will_not_go') %>
    <% end %>

</div>
