<div class="btn-group">
  <label data-toggle="dropdown" class="dropdown-toggle"><%= I18n.t('shows.show.report.report') %></label>
  <ul class="dropdown-menu">

    <!-- WRONG INFO -->
    <% if markedAsWrongInfo? %>
        <!-- Delete -->
        <li><%= link_to raw("<i class='glyphicon glyphicon-chevron-down'></i> #{I18n.t('shows.show.report.wrong_info')}"), show_vote_path(id: current_user.show_votes.complaining_wrong_info.this_show(@show.id).first.id), method: :delete, remote: true %></li>
    <% else %>
        <!-- Add -->
        <li><%= link_to I18n.t('shows.show.report.wrong_info'), show_votes_path(show_id: @show.id, vote_type: ShowVote::TYPE_COMPLAINT_WRONG_INFO), method: :post, remote: true %></li>
    <% end %>
    <li class="divider"></li>

    <!-- SPAM -->
    <% if markedAsSpam? %>
        <!-- Delete -->
        <li><%= link_to raw("<i class='glyphicon glyphicon-chevron-down'></i> #{I18n.t('shows.show.report.spam_content')}"), show_vote_path(id: current_user.show_votes.complaining_spam.this_show(@show.id).first.id), method: :delete, remote: true %></li>
    <% else %>
        <!-- Add -->
        <li><%= link_to I18n.t('shows.show.report.spam_content'), show_votes_path(show_id: @show.id, vote_type: ShowVote::TYPE_COMPLAINT_SPAM), method: :post, remote: true %></li>
    <% end %>

    <!-- ABUSIVE -->
    <% if markedAsAbusive? %>
        <!-- Delete -->
        <li><%= link_to raw("<i class='glyphicon glyphicon-chevron-down'></i> #{I18n.t('shows.show.report.abusive_content')}"), show_vote_path(id: current_user.show_votes.complaining_abuse.this_show(@show.id).first.id), method: :delete, remote: true %></li>
    <% else %>
        <!-- Add -->
        <li><%= link_to I18n.t('shows.show.report.abusive_content'), show_votes_path(show_id: @show.id, vote_type: ShowVote::TYPE_COMPLAINT_ABUSE), method: :post, remote: true %></li>
    <% end %>

  </ul>
</div>
