<% if @show.subcategory_votes.size < SubcategoryVote::MINIMUM_AMOUNT_OF_VOTES %>
    <span class="label label-info"><%= I18n.t('shows.show.category_votes.question') %></span>
<% end %>

<ul class="nav nav-pills">
  <% favouriteCategories = favouriteCategoriesList
     categories_subcategories = remainingCategoriesList(favouriteCategoriesList)
     uniqueCategories = categories_subcategories.to_a.uniq { |ct| ct['category_name']}
     uniqueCategoriesSubcategories = []
     #Compute subcategories to create table
     uniqueCategories.each do |uniq|
       uniqueCategoriesSubcategories.push categories_subcategories.select{|cat| cat['category_id'] == uniq['category_id']}
     end
  %>
  <% favouriteCategories.each_with_index do |fav_cat, i| %>
    <li class="<%= 'active' unless i > 0 %>">
      <% if user_signed_in? %>
        <%= link_to raw("#{fav_cat.name}&nbsp<span class='badge'>#{fav_cat.value}</span>"), subcategory_votes_path(show_id: @show.id, subcategory_id: fav_cat.subcategory_id), method: :post, remote: true %>
      <% else %>
        <%= link_to raw("#{fav_cat.name}&nbsp<span class='badge'>#{fav_cat.value}</span>"), new_user_session_path %>
      <% end %>
    </li>
  <% end %>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <% if favouriteCategories.size > 0 %>
        <%= I18n.t('shows.show.category_votes.other') %>
      <% else %>
          <%= I18n.t('shows.show.category_votes.select') %>
      <% end %>
      <span class="caret"></span>
    </a>
    <ul class='dropdown-menu'>
      <table class="table table-condensed table-striped" style='width: <%= 150*uniqueCategories.size %>px;'>
        <thead>
          <% uniqueCategories.each do |cat| %>
            <th id="<%= cat['category_id'] %>"><%= cat['category_name'] %></th>
          <% end %>
        </thead>
        <tbody>
          <% uniqueCategoriesSubcategories.max_by(&:size).size.times do |i| %>
            <tr>
              <% uniqueCategoriesSubcategories.each do |subcat| %>
                  <td>
                    <% if user_signed_in? %>
                        <%= (link_to subcat[i]['subcategory_name'], subcategory_votes_path(show_id: @show.id, subcategory_id: subcat[i]['subcategory_id']), method: :post, remote: true) if subcat[i] %>
                    <% else %>
                        <%= (link_to subcat[i]['subcategory_name'], new_user_session_path) if subcat[i] %>
                    <% end %>
                  </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </ul>
  </li>
</ul>
