<% complaintsList.each do |complaint| %>
    <% case complaint.vote_type %>
    <% when ShowVote::TYPE_COMPLAINT_WRONG_INFO %>
        <div class="alert alert-warning">
          <i class="glyphicon glyphicon-info-sign"></i>
          <strong><%= complaint['count'].to_s %></strong> <%= I18n.t('shows.show.report.people_consider') %> <%= I18n.t('shows.show.report.wrong_info') %>.
          <% if user_signed_in? and markedAsWrongInfo? %>
            <div class="pull-right">
              <%= link_to I18n.t('shows.show.report.remove_my_report'), show_vote_path(id:current_user.show_votes.complaining_wrong_info.this_show(@show.id).first.id), method: :delete, remote: true %>
            </div>
          <% end %>
        </div>
    <% when ShowVote::TYPE_COMPLAINT_SPAM %>
        <div class="alert alert-warning">
          <i class="glyphicon glyphicon-info-sign"></i>
          <strong><%= complaint['count'].to_s %></strong> <%= I18n.t('shows.show.report.people_consider') %> <%= I18n.t('shows.show.report.spam_content') %>.
          <% if user_signed_in? and markedAsSpam? %>
              <div class="pull-right">
                <%= link_to I18n.t('shows.show.report.remove_my_report'), show_vote_path(id:current_user.show_votes.complaining_spam.this_show(@show.id).first.id), method: :delete, remote: true %>
              </div>
          <% end %>
        </div>
    <% when ShowVote::TYPE_COMPLAINT_ABUSE %>
        <div class="alert alert-warning">
          <i class="glyphicon glyphicon-info-sign"></i>
          <strong><%= complaint['count'].to_s %></strong> <%= I18n.t('shows.show.report.people_consider') %> <%= I18n.t('shows.show.report.abusive_content') %>.
          <% if user_signed_in? and markedAsAbusive? %>
              <div class="pull-right">
                <%= link_to I18n.t('shows.show.report.remove_my_report'), show_vote_path(id:current_user.show_votes.complaining_abuse.this_show(@show.id).first.id), method: :delete, remote: true %>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>

