Web Crawling Report (<%= Rails.env %>)
<br/>
<br/>

<h3>Artists</h3>
<table cellspacing="10">
  <thead>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Created</th>
    <th>Edited</th>
    <th>Skip</th>
    <th>Cancelled</th>
    <th>Failed</th>
    <th>Log</th>
  </tr>
  </thead>
  <tbody>
  <% @artistJobList.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.duration.utc.strftime("%H:%M:%S") %></td>
        <td bgcolor="<%= (job.success > 0) ? '#adff2f' : '' %>">
            <%= job.success %>
        </td>
        <td><%= job.edit %></td>
        <td><%= job.skip %></td>
        <td><%= job.cancelled %></td>
        <td bgcolor="<%= (job.fail > 0) ? '#ff6347' : '' %>">
            <%= job.fail %>
        </td>
        <td> <%= link_to "see", artist_url(id: job.artist_id) ,:only_path => false %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
______________________________________________________________________________________________________
<br/>

<h3>Venues</h3>
<table cellspacing="10">
  <thead>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Created</th>
    <th>Edited</th>
    <th>Skip</th>
    <th>Cancelled</th>
    <th>Failed</th>
    <th>Log</th>
  </tr>
  </thead>
  <tbody>
  <% @venueJobList.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.duration.utc.strftime("%H:%M:%S") %></td>
        <td><%= job.success %></td>
        <td><%= job.edit %></td>
        <td><%= job.skip %></td>
        <td><%= job.cancelled %></td>
        <td bgcolor="<%= (job.fail > 0) ? '#FF0000' : '' %>">
          <%= job.fail %>
        </td>

        <td> <%= link_to "see", country_district_city_venue_url(country_id: job.country_alpha2, district_id: job.district_alpha2, city_id: job.city_id, id: job.venue_id) ,:only_path => false %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


