<h3><%= "#{I18n.t('helpers.links.edit')}: #{@user.name}" %> </h3>

<%= simple_form_for(@user, html: { :class => 'form-horizontal'}) do |f| %>
    <%= f.error_notification %>

    <div class="container-fluid">
      <div class="row-fluid col-md-12">
          <div class="col-md-2">
            <div class="text-center">
              <p class="help-block"><%= I18n.t('simple_form.labels.user.profile_picture') %> </p>
              <%= image_tag @user.avatar.url %>
              <%= f.file_field :avatar %>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            <div class="form-inputs form-horizontal">
              <%= f.input :name %>

              <br/>
              <div class="control-group">
                <div class="controls help-block">
                  <h4 class="help-block"><%= I18n.t('users.user.add_your_location_suggestion') %>. </h4>
                </div>
              </div>

              <%= f.input :country_alpha2 do %>
                  <%= f.select :country_alpha2, options_for_select(available_countries.map {|c| [c.name, c.alpha2]}.insert(0, ''), @user.country_alpha2), {}, {id:'cb_generic_country', :class => 'form-control', :include_blank => 'None Specified' } %>
              <% end %>
              <%= f.input :district_alpha2 do %>
                  <%= f.select :district_alpha2, options_for_select((Country[@user.country_alpha2]? (Country[@user.country_alpha2].states.map {|c| [c[1]['name'], c[0]]}):{}), @user.district_alpha2), {}, { id:'cb_generic_district', class:'form-control', include_blank: true } %>
              <% end %>
              <%= f.input :city_id do %>
                  <%= f.select :city_id, options_for_select(City.from_country(@user.country_alpha2).from_district(@user.district_alpha2).map { |c| [c.name, c.id]}, @user.city_id), {}, { :id => 'cb_generic_city', class:'form-control', include_blank: true } %>
              <% end %>
              <br/>
              <h3><%= I18n.t('users.user.edit_login_details_header') %></h3>
              <p> <%= link_to I18n.t('users.user.change_email_or_password'), edit_user_registration_path %></p>

              <% if can? :edit_user_class, User %>
                  <hr/>
                  <div class="form-inputs">
                    <div class="checkbox">
                      <%= f.input_field :is_seller, :inline_label => true %>
                    </div>
                    <%= f.input :affiliate_email %>
                  </div>
              <% end %>

            </div>
            <br/>
            <div class="form-actions">
              <%= f.button :submit %>
            </div>
          </div>
      </div>
    </div>
    <br/>
<% end %>

<%= link_to I18n.t('helpers.links.show'), user_path(@user) %> |
<%= link_to I18n.t('helpers.links.back'), user_path(@user) %>
