<h3> <%= I18n.t('activerecord.models.user.other') %>: <%= @users.size %></h3>

<table class='table table-condensed table-striped'>
  <thead>
  <tr>
    <th><%= I18n.t('users.user.user_type') %></th>
    <th><%= I18n.t('simple_form.labels.user.name') %></th>
    <th><%= I18n.t('simple_form.labels.user.is_seller') %></th>
    <th><%= I18n.t('simple_form.labels.user.country_alpha2') %></th>
    <th><%= I18n.t('simple_form.labels.user.district_alpha2') %></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td style="width: 50px;"><%= user_type_icon(user).html_safe %></td>
        <td><%= link_to_if (can? :show, User), user.name, user_path(user)  %></td>
        <td><%= user.seller.try(:name)  %></td>
        <td><%= user.country_alpha2  %></td>
        <td><%= Country[user.country_alpha2].states[user.district_alpha2]['name'] if !user.country_alpha2.blank?  %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

