<h1><%= @user.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('users.user.user_type') %>:</strong>
  <%= I18n.t('users.user.admin_type') if @user.admin %>
  <%= I18n.t('users.user.seller_type') if @user.is_seller %>
  <%= I18n.t('users.user.normal_type') unless @user.admin or @user.is_seller %>
  <%= user_type_icon(@user).html_safe %>
</p>

<p>
  <strong><%= I18n.t('simple_form.labels.user.country_alpha2') %>:</strong>
  <%= Country[@user.country_alpha2].try(:name) %>
</p>

<p>
  <strong><%= I18n.t('simple_form.labels.user.district_alpha2') %>:</strong>
  <%= Country[@user.country_alpha2].states[@user.district_alpha2]['name'] if !@user.country_alpha2.blank? %>
</p>

<p>
  <strong><%= I18n.t('simple_form.labels.user.city_id') %>:</strong>
  <%= City.find(@user.city_id).name if @user.city_id %>
</p>

<p>
  <strong><%= I18n.t('users.user.affiliate_user') %>:</strong>
  <%= @user.seller.try(:name) %>
</p>
<hr/>
<% if can? :edit, @user %>
    <%= link_to I18n.t('helpers.links.edit'), edit_user_path(@user) %> |
<% end %>
<%= link_to I18n.t('helpers.links.back'), user_path(@user) %>

<% if can? :delete, @user %>
    <hr class="divider"></hr>
    <div class="alert alert-error">
      <%= link_to I18n.t('helpers.links.destroy'), user_path(@user), method: :delete, data: { confirm: I18n.t('helpers.links.confirm') } %>
      <%= I18n.t('helpers.titles.delete_warning', model: I18n.t('activerecord.models.user.one')) %>
    </div>
<% end %>
