<h2><%= I18n.t('devise.email.change_my_password') %></h2>
<div class="col-md-6">

    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, :as => :hidden %>
      <%= f.full_error :reset_password_token %>
      <br/>
      <div class="form-inputs">
        <%= f.input :password, :label => I18n.t('devise.options.new_password'), :required => true, :autofocus => true %>
        <%= f.input :password_confirmation, :label => I18n.t('devise.options.new_password_confirmation'), :required => true %>
      </div>
      <br/>
      <div class="form-actions">
        <%= f.button :submit, I18n.t('devise.email.change_my_password') %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>