<h2><%= I18n.t('devise.options.password_forgotten') %>?</h2>
<div class="col-md-6">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, :required => true, :autofocus => true %>
      </div>
      <br/>
      <div class="form-actions">
        <%= f.button :submit, I18n.t('devise.options.new_password_send_instructions_button') %>
      </div>
    <% end %>
    <br/>
    <%= render "devise/shared/links" %>
</div>