
<%= simple_form_for([@city.country_alpha2, @city.district_alpha2, @city.id, @venue], :html => { :class => 'form-horizontal', :multipart => true },
    :url => @venue.new_record?? {:action => :create} : country_district_city_venue_path(@city.country_alpha2, @city.district_alpha2, @city.id, @venue)) do |f| %>
  <%= f.error_notification %>
    <ul class="breadcrumb">
      <li><%= link_to countries_path do %><span class='glyphicon glyphicon-globe'></span><% end %></li>
      <span class="divider">/</span>
      <li><%= link_to Country[@city.country_alpha2].name, country_districts_path(@city.country_alpha2) %></li>
      <span class="divider">/</span>
      <li><%= link_to Country[@city.country_alpha2].states[@city.district_alpha2]['name'], country_district_cities_path(@city.country_alpha2, @city.district_alpha2) %></li>
      <span class="divider">/</span>
      <li><%= link_to @city.name, country_district_city_venues_path(@city.country_alpha2, @city.district_alpha2, @city.id) %></li>
      <span class="divider">/</span>
    </ul>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-3 text-center">
          <div class="control-group">
            <strong><%= I18n.t('simple_form.labels.venue.photo') %></strong><br/>
            <% if @venue.external_photo %>
                <%= image_tag @venue.external_photo, width: '200' %> <br/>
                <%= link_to 'link', @venue.external_photo %>
            <% else %>
                <%= image_tag @venue.photo.url, width: '200' %>
            <% end %>
          </div>
          <div class="control-group">
            <strong><%= I18n.t('simple_form.labels.venue.icon') %></strong><br/>
            <% if @venue.external_icon %>
                <%= image_tag @venue.external_icon, size: '16x16' %><br/>
                <%= link_to 'external link', @venue.external_icon %>
            <% else %>
              <%= image_tag @venue.icon.url, size: '16x16' %>
            <% end %>
          </div>
        </div>
        <div class="col-md-9">
          <%= f.input :external_photo %>
          <%= f.input :photo do %>
            <%= f.file_field :photo %>
          <% end %>

          <%= f.input :external_icon %>
          <%= f.input :icon do %>
            <%= f.file_field :icon %>
          <% end %>

          <div class="checkbox">
            <%= f.input_field :visible, :inline_label => true %>
          </div>

          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :phone %>

          <%= f.input :city_id, :as => :hidden %>

          <%= f.input :website %>

          <%= f.input :latitude %>
          <%= f.input :longitude %>

          <div class="checkbox">
            <%= f.input_field :trusted, :inline_label => true %>
          </div>
          <hr/>
          <div class="checkbox">
            <%= f.input_field :enable_crawler, :inline_label => true %>
          </div>
          <%= f.input :crawler_feed_url %>
          <br/>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        </div>
      </div>
    </div>

<% end %>
