<h2><%= "#{I18n.t('helpers.links.edit')} #{I18n.t('activerecord.models.venue.one')}" %> </h2>

<%= render 'form' %>

<%= link_to I18n.t('helpers.links.show'), country_district_city_venue_path(@city.country_alpha2, @city.district_alpha2, @city, @venue) %> |
<%= link_to I18n.t('helpers.links.back'), country_district_city_venues_path(@city.country_alpha2, @city.district_alpha2, @city) %>
