<h1><%= I18n.t('activerecord.models.venue.other') %></h1>

<ul class="breadcrumb">
  <li><%= link_to countries_path do %><span class='glyphicon glyphicon-globe'></span><% end %></li>
  <span class="divider">/</span>
  <li><%= link_to Country[@city.country_alpha2].name, country_districts_path(@city.country_alpha2) %></li>
  <span class="divider">/</span>
  <li><%= link_to Country[@city.country_alpha2].states[@city.district_alpha2]['name'], country_district_cities_path(@city.country_alpha2, @city.district_alpha2) %></li>
  <span class="divider">/</span>
  <li><%= link_to @city.name, country_district_city_venues_path(@city.country_alpha2, @city.district_alpha2, @city.id) %></li>
  <span class="divider">/</span>
</ul>

<table class='table table-condensed table-striped'>
  <thead>
    <tr>
      <th><%= I18n.t('simple_form.labels.venue.name') %></th>
      <th><%= I18n.t('simple_form.labels.venue.address') %></th>
      <th><%= I18n.t('simple_form.labels.show.country_alpha2') %></th>
      <th><%= I18n.t('simple_form.labels.show.district_alpha2') %></th>
      <th><%= I18n.t('simple_form.labels.show.city_id') %></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td>
          <i class="<%= venue.trusted ? 'icon-eye' : 'icon-eye-close' %>" title="<%= venue.trusted ? 'This crawler is trusted' : 'This crawler is not trusted' %>"></i>
          <i class="<%= venue.enable_crawler ? 'icon-ok' : 'icon-remove' %>" title="<%= venue.enable_crawler ? 'This crawler is enabled' : 'This crawler is disabled' %>"></i>
          <%= link_to venue.name, country_district_city_venue_path(params[:country_id], params[:district_id], venue.city_id, venue) %>
        </td>
        <td><%= venue.address %></td>
        <td><%= venue.city.name %></td>
        <td><%= Country[venue.city.country_alpha2].states[venue.city.district_alpha2]['name'] %></td>
        <td><%= Country[venue.city.country_alpha2].name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{I18n.t('helpers.links.new')} #{I18n.t('activerecord.models.venue.one')}", new_country_district_city_venue_path(params[:country_id], params[:district_id], params[:city_id]) %>
