<h1><%= "#{I18n.t('helpers.links.new')} #{I18n.t('activerecord.models.venue.one')}" %></h1>

<%= render 'form' %>

<%= link_to I18n.t('helpers.links.back'), country_district_city_venues_path(@city.country_alpha2, @city.district_alpha2, @city) %>
