<p id="notice"></p>

  <div class="row-fluid">
    <div class="col-md-4">
      <div class="text-center">
        <h3><%= @venue.name %> </h3>
        <%= image_tag @venue.photo_url, width: '200' %>
        <p><%= @venue.city.name %>,
          <%= Country[@venue.city.country_alpha2] %></p>
        <div class="panel-group" id="accordion">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> (<%= I18n.t('venues.venue.plus_info') %>) </a>
          <div id="collapseOne" class="panel-collapse collapse">
           <div class="panel-body text-left">
            <p>
              <span class='glyphicon glyphicon-home'></span>
              <%= @venue.address %>
            </p>
            <p>
              <span class='glyphicon glyphicon-earphone'></span>
              <%= @venue.phone %>
            </p>
            <p>
              <span class='glyphicon glyphicon-globe'></span>
              <%= link_to @venue.website, @venue.website, :target => 'blank' %>
            </p>
           </div>
        </div>
      </div>
      </div>
      <br/>
    </div>
    <div class="col-md-8">
      <h4> <%= I18n.t('shows.show.shows_of', venue: @venue.name) %>:</h4>
      <dl>
          <% @showList.each_with_index do |item, index| %>
            <% if index == 0 || @showList[index-1].date.to_date != @showList[index].date.to_date %>
               <br/>
               <dt>
                 <% if Date.today == item.date.to_date %>
                     <%= I18n.t('date.today')%>
                 <% elsif Date.tomorrow == item.date.to_date %>
                     <%= I18n.t('date.tomorrow')%>
                  <% else %>
                     <%= I18n.l item.date %>
                  <% end %>
               </dt>
            <% end %>
            <dd>
              <%= link_to item.name.html_safe, show_path(item.id) %>
              <%= "- #{I18n.t('shows.canceled')}"  if item.canceled %>
            </dd>
      <% end %>
      </dl>
    </div>
  </div>
</div>

<div class="row-fluid col-md-11 col-md-offset-1">
<% if current_user and current_user.admin? %>
    <hr/>
    <h4>Admin info</h4>
    <p>
      <strong><%= I18n.t('simple_form.labels.venue.icon') %>:</strong>
      <%= image_tag @venue.icon_url, size: '16x16' %>
    </p>
    <p>
      <strong><%= I18n.t('simple_form.labels.venue.visible') %>:</strong>
      <% if @venue.visible %>
          <%= I18n.t('simple_form.yes') %>
      <% else %>
          <icon class="glyphicon glyphicon-warning-sign"/><%= I18n.t('simple_form.no') %>
      <% end %>
    </p>

    <p>
      <strong><%= I18n.t('simple_form.labels.venue.coordinates') %>:</strong>
      <%= @venue.latitude %>,
      <%= @venue.longitude %>
    </p>

    <p>
      <strong><%= I18n.t('simple_form.labels.venue.trusted') %>:</strong>
      <% if @venue.trusted %>
          <%= I18n.t('simple_form.yes') %>
      <% else %>
          <icon class="glyphicon glyphicon-warning-sign"/><%= I18n.t('simple_form.no') %>
      <% end %>
    </p>

    <p>
      <strong><%= I18n.t('simple_form.labels.venue.enable_crawler') %>:</strong>
      <% if @venue.enable_crawler %>
          <%= I18n.t('simple_form.yes') %>
      <% else %>
          <icon class="glyphicon glyphicon-warning-sign"/><%= I18n.t('simple_form.no') %>
      <% end %>
    </p>
    <p>
      <strong><%= I18n.t('simple_form.labels.venue.crawler_feed_url') %>:</strong>
      <%= link_to @venue.crawler_feed_url, @venue.crawler_feed_url %>
    </p>
    <p>
      <strong>Detected Crawler Class:</strong>
      <text class="bg-info"><%= ICrawler.get_crawler_class(@venue.crawler_feed_url) %></text>
      <% if ICrawler.get_crawler_class(@venue.crawler_feed_url) %>
          <%= link_to I18n.t('venues.venue.run_crawler'), country_district_city_venue_run_path(@city.country_alpha2, @city.district_alpha2, @city, @venue), class: 'btn btn-small' %>
      <% end %>
    </p>
    <% if ICrawler.get_crawler_class(@venue.crawler_feed_url) == IVenueCrawler::FACEBOOK %>
        <p>
          <strong>Facebook User Id:</strong>
          <%= ICrawler.parse_user_id(@venue.crawler_feed_url) %>
        </p>
    <% end %>
    <% if @fb_eventList %>
        <div class="accordion" id="fb_events_accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseCrawlerSource">
                <strong>Facebook events</strong>
              </a>
            </div>
            <div id="collapseCrawlerSource" class="panel-collapse collapse">
              <div class="accordion-inner">
                <% @fb_eventList.each do |fb_event| %>
                    <li>
                      <% if DateTime.parse(fb_event['start_time']) < DateTime.now %>
                          <%= "[OLD]" %>
                      <% end %>
                      <%="#{fb_event['name']} @ #{DateTime.parse(fb_event['start_time'])}" %>
                      <br/>
                    </li>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  <div class="panel-group" id="accordion">
    <% @latest_venue_crawler_reports.each do |crawler_report| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= crawler_report.id %>">
                <% if crawler_report.automatic %>
                    <i class='glyphicon glyphicon-hdd' title="made by automatic task"></i>
                <% end %>
                <%= crawler_report.created_at %>
                [
                duration:<%= crawler_report.duration.utc.strftime("%H:%M:%S") %> |
                success:<%= crawler_report.success_count %> |
                edit:<%= crawler_report.edit_count %> |
                cancelled:<%= crawler_report.cancelled_count %> |
                fail:<%= crawler_report.fail_count %> |
                skip:<%= crawler_report.skip_count %>
                ]
              </a>
            </h4>
          </div>
          <div id="collapse<%= crawler_report.id %>" class="panel-collapse collapse">
            <div class="panel-body">
              <strong>Log:</strong>
        <pre>
            <%= crawler_report.log.html_safe %>
        </pre>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  </div>
  <hr/>
<% end %>
</div>


<div class="col-md-offset-1">
    <% if can? :edit, @venue %>
        <%= link_to I18n.t('helpers.links.edit'), edit_country_district_city_venue_path(@venue.city.country_alpha2, @venue.city.district_alpha2, @venue.city_id, @venue) %> |
    <% end %>
    <%= link_to I18n.t('helpers.links.back'), country_district_city_venues_path(@venue.city.country_alpha2, @venue.city.district_alpha2, @venue.city_id) %>

    <% if can? :destroy, @venue %>
        <hr class="divider"></hr>
        <div class="alert alert-error">
          <%= link_to I18n.t('helpers.links.destroy'), country_district_city_venue_path(@venue.city.country_alpha2, @venue.city.district_alpha2, @venue.city_id, @venue), method: :delete, data: { confirm: I18n.t('helpers.links.confirm') } %>
          <%= I18n.t('helpers.titles.delete_warning', model: I18n.t('activerecord.models.venue.one')) %>
        </div>
    <% end %>
</div>


