<div class="col-md-6">
  <h2><%= I18n.t('contacts.contact.contact_us') %></h2>
  <p><%= I18n.t('contacts.contact.contact_us_by_filling_form').html_safe %></p>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.input :name, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :message, :as => :text, :required => true %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div class="pull-right">
        </br>
        <%= f.button :submit, I18n.t('contacts.contact.send_message'), :class=> "btn btn-primary" %>
      </div>
  <% end %>
</div>