
<li class="<%= 'active' if session[:category_id].nil? or session[:category_id].to_i == Category::All %>">
  <%= link_to I18n.t('.layouts.application.categories.all'), root_path(category_id: Category::All) %>
</li>
<li class="<%= 'active' if session[:category_id].to_i == Category::Music %>">
  <%= link_to I18n.t('.layouts.application.categories.music'), root_path(category_id: Category::Music) %>
</li>
<li class="<%= 'active' if session[:category_id].to_i == Category::Sport %>">
  <%= link_to I18n.t('.layouts.application.categories.sport'), root_path(category_id: Category::Sport) %>
</li>
<li class="<%= 'active' if session[:category_id].to_i == Category::Theatre %>">
  <%= link_to I18n.t('.layouts.application.categories.theatre'), root_path(category_id: Category::Theatre) %>
</li>
