<%= simple_form_for('', :url => crawlers_path, :method => :post, :defaults => {:required => false}) do |f| %>
  <div class="input-group">
    <%= f.input_field :venue_url, class: 'span8', value: '' , :placeholder => 'Venue url' %>
    <div class="input-group-btn">
      <%= f.button :submit, 'import', name: 'type', value: 'venue' %>
    </div>
  </div>
  <br/>
  <div class="input-group">
    <%= f.input_field :artist_url, class: 'span8', value: '' , :placeholder => 'Artist url' %>
    <div class="input-group-btn">
      <%= f.button :submit, 'import', name: 'type', value: 'artist' %>
    </div>
  </div>

<% end %>

