<h1>Listing Crawlers</h1>

<%= render 'crawlers/new_fb_venue' %>

<table class='table table-condensed table-striped'>
  <thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody>

  <% @crawlers.each do |district| %>
      <tr>
        <td><%= district[0] %></td>
        <td><%= link_to district[1]['name'], country_district_cities_path(params[:country_id], district[0]) %></td>
        <td><%= link_to 'Show', country_district_path(params[:country_id], district[0]) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

