
<%= select_tag :district, options_for_select(Country[country_alpha2].states.map {|c| [c[1]['name'], c[0]]}.unshift([I18n.t('all'), ''])),
               { id:'cb_district', :class => 'form-control col-md-12' } %>
