<h1><%= I18n.t('activerecord.models.district.other') %></h1>

<ul class="breadcrumb">
  <li><%= link_to countries_path do %><span class='glyphicon glyphicon-globe'></span><% end %></li>
  <span class="divider">/</span>
  <li><%= link_to @country.name, country_districts_path(params[:country_id]) %></li>
</ul>
<table class='table table-condensed table-striped'>
  <thead>
    <tr>
      <th><%= I18n.t('simple_form.labels.district.code') %></th>
      <th><%= I18n.t('simple_form.labels.district.name') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @districts.each do |district| %>
      <tr>
        <td><%= district[0] %></td>
        <td><%= link_to district[1]['name'], country_district_cities_path(params[:country_id], district[0]) %></td>
        <td><%= link_to I18n.t('helpers.links.show'), country_district_path(params[:country_id], district[0]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
total: <%= @districts.length %>
