<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('simple_form.labels.district.country_alpha2') %>:</strong>
  <%= @country.name %>
</p>

<p>
  <strong><%= I18n.t('simple_form.labels.district.district_alpha2') %>:</strong>
  <%= @district[:alpha2] %>
</p>

<p>
  <strong><%= I18n.t('simple_form.labels.district.name') %>:</strong>
  <%= @district[:name] %>
</p>

<%= link_to I18n.t('helpers.links.back'), country_districts_path(@country.alpha2) %>
