<h2><%= I18n.t('devise.options.login') %></h2>

<div class="well col-md-4">
    <%= simple_form_for(resource, :as => resource_name, :html => { :class => 'form-horizontal'}, :url => session_path(resource_name)) do |f| %>

      <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-block btn-social btn-facebook' do %>
        <i class="fa fa-facebook"></i> <%= I18n.t('devise.options.login_with', resource: 'Facebook') %>
      <% end %>
      <hr/>
      <div class="form-inputs">
        <%= f.input :email, :required => false, :autofocus => true %>
        <%= f.input :password, :required => false %>

        <div class="checkbox">
          <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable? %>
        </div>
      </div>
      <br/>
      <div class="form-actions">
        <%= f.button :submit, I18n.t('devise.options.login') %>
      </div>
    <% end %>

    <br/>
    <%= render 'devise/shared/links' %>
</div>