<% case @show_vote.vote_type %>
<% when ShowVote::TYPE_ATTENDING %>
    $('#participants_votes').html("<%=j render partial: 'shows/votes/attending_votes', locals: {show: @show} %>");
    $('#div_participants_info_label').html("<%=j render partial: 'shows/votes/attending_info', locals: {show: @show} %>");
<% else %>
    $('#div_complaints').html("<%=j render partial: 'shows/votes/warning_votes', locals: {show: @show} %>");
    $('#div_denounceButton').html("<%=j render partial: 'shows/votes/denounce_button', locals: {show: @show} %>");
<% end %>

