<h1>Listing show_votes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Show</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Info</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @show_votes.each do |show_vote| %>
      <tr>
        <td><%= show_vote.user_id %></td>
        <td><%= show_vote.show_id %></td>
        <td><%= show_vote.vote_type %></td>
        <td><%= show_vote.amount %></td>
        <td><%= show_vote.info %></td>
        <td><%= link_to 'Show', show_vote %></td>
        <td><%= link_to 'Edit', edit_show_vote_path(show_vote) %></td>
        <td><%= link_to 'Destroy', show_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show vote', new_show_vote_path %>
