<!-- Subhead
================================================== -->
  <div class="static-block">
    <h2>Privacy</h2>
    <ul class="qa-list">
      <li>
        <h3>Introduction</h3>
        <p>Showgeeks, Inc. (“Showgeeks”) takes the private nature of your personal information very seriously.</p>
        <p>This privacy policy, which we adapted from a policy originally provided by  <a href="http://www.automattic.com/">Automattic</a> (<a href="http://www.wordpress.com/">WordPress.com</a>), describes how we treat the information we collect when you visit and use our websites. Please read this notice very carefully.</p>
      </li>
      <li>
        <h3>Website Visitors</h3>
        <p>Like most website operators, Showgeeks collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Showgeeks’s purpose in collecting non-personally identifying information is to better understand how Showgeeks’s visitors use its website. From time to time, Showgeeks may release non-personally-identifying information in the aggregate, e.g. by publishing a report on trends in the usage of its website.</p><br>
        <p>Showgeeks also collects potentially personally-identifying information like Internet Protocol (IP) addresses. Showgeeks does not use such information to identify its visitors, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.</p>
      </li>
      <li>
        <h3>Gathering of Personally-Identifying Information</h3>
        <p>Certain visitors to Showgeeks’s websites choose to interact with Showgeeks in ways that require Showgeeks to gather personally-identifying information. The amount and type of information that Showgeeks gathers depends on the nature of the interaction. For example, we ask visitors who sign up for Showgeeks.com to provide a username and email address. In each case, Showgeeks collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with Showgeeks. Showgeeks does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>
      </li>
      <li>
        <h3>Aggregated Statistics</h3>
        <p>Showgeeks may collect statistics about the behavior of visitors to its websites. For instance, Showgeeks may monitor the most popular collections on Showgeeks.com. Showgeeks may display this information publicly or provide it to others. However, Showgeeks does not disclose personally-identifying information other than as described below.</p>
      </li>
      <li>
        <h3>Protection of Certain Personally-Identifying Information</h3>
        <p>Showgeeks discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Showgeeks’s behalf or to provide services available at Showgeeks’s websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Showgeeks’s websites, you consent to the transfer of such information to them. In addition, in some cases we may choose to buy or sell assets. In these types of transactions, user information is typically one of the business assets that is transferred. Moreover, if Showgeeks or substantially all of its assets were acquired, or in the unlikely event that Showgeeks goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquiror of Showgeeks may continue to use your personal and non-personal information only as set forth in this policy. Otherwise, Showgeeks will not rent or sell potentially personally-identifying and personally-identifying information to anyone.</p><br>
        <p>Other than to its employees, contractors and affiliated organizations, as described above, Showgeeks discloses potentially personally-identifying and personally-identifying information only when required to do so by law, or when Showgeeks believes in good faith that disclosure is reasonably necessary to protect the property or rights of Showgeeks, third parties or the public at large. If you are a registered user of a Showgeeks website and have supplied your email address, Showgeeks may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with Showgeeks and its products. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Showgeeks takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p><br>
        <p>You should also be aware that if you submit information to “chat rooms,” “forums” or “message boards” such information becomes public information, meaning that you lose any privacy rights you might have with regards to that information. Such disclosures may also increase your chances of receiving unwanted communications.</p>
      </li>
      <li>
        <h3>Cookies</h3>
        <p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Showgeeks uses cookies to help Showgeeks identify and track visitors, their usage of Showgeeks websites, and their website access preferences. Showgeeks visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Showgeeks’s websites, with the drawback that certain features of Showgeeks’s websites may not function properly without the aid of cookies.</p>
      </li>
      <li>
        <h3>Ads</h3>
        <p>Ads appearing on any Showgeeks websites may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This privacy policy covers the use of cookies by Showgeeks and does not cover the use of cookies by any advertisers.</p>
      </li>
      <li>
        <h3>Links to Third Party Sites</h3>
        <p>This privacy policy only applies to information collected by Showgeeks. This privacy policy does not apply to the practices of companies that Showgeeks does not own or control, or employees that Showgeeks does not manage. A Showgeeks website may contain links to third party websites. Any information you provide to, or that is collected by, third-party sites may be subject to the privacy policies of those sites, if any. We encourage you to read such privacy policies of any third-party sites you visit. It is the sole responsibility of such third parties to adhere to any applicable restrictions on the disclosure of your personally-identifying information, and Showgeeks and its affiliates shall not be liable for wrongful use or disclosure of your personally-identifying information by any third party.</p>
      </li>
      <li>
        <h3>Security</h3>
        <p>All non-personally-identifying information, potentially personally-identifying and personally identifying-information described above is stored on restricted database servers.
        </p>
      </li>
      <li>
        <h3>Choice/Opt-out</h3>
        <p>If we ever send you information by email concerning new products, services or information that you did not expressly request, we will provide you with an email address by which you may request no further notices.
        </p>
      </li>
      <li>
        <h3>Address Book Data</h3>
        <p>Any external address book data (email contacts, etc.) that a user voluntarily gives Showgeeks access to will only be used for the described feature (looking up friends, etc.), and will not be stored or repurposed.</p>
      </li>
      <li>
        <h3>Privacy Policy Changes</h3>
        <p>Although most changes are likely to be minor, Showgeeks may change its privacy policy from time to time, and in Showgeeks’s sole discretion. Showgeeks encourages visitors to frequently check this page for any changes to its privacy policy. Your continued use of this site after any change in this privacy policy will constitute your acceptance of such change.</p>
      </li>
      <li>
        <h3>Contact Us</h3>
        <p>If you have any questions about this privacy policy or our sites in general, please <%= link_to 'contact us', contacts_path %>.</p>
      </li>
    </ul>
  </div>



