<h1><%= I18n.t('activerecord.models.country.other') %></h1>

<table class='table table-condensed table-striped'>
  <thead>
    <tr>
      <th><%= I18n.t('simple_form.labels.country.code') %></th>
      <th><%= I18n.t('simple_form.labels.country.name') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.alpha2 %></td>
        <td><%= link_to country.name, country_districts_path(country.alpha2)%></td>
        <td><%= link_to I18n.t('helpers.links.show'), country_path(country.alpha2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

