<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('simple_form.labels.country.code') %>:</strong>
  <%= @country.alpha2 %>
</p>

<p>
  <strong><%= I18n.t('simple_form.labels.country.name') %>:</strong>
  <%= @country.name %>
</p>

<p>
  <strong><%= I18n.t('simple_form.labels.country.region') %>:</strong>
  <%= @country.region %>
</p>

<p>
  <strong><%= I18n.t('simple_form.labels.country.subregion') %>:</strong>
  <%= @country.subregion %>
</p>

<%= link_to I18n.t('helpers.links.back'), countries_path %>
