<%= simple_form_for([@country.alpha2, @district[:alpha2], @city], html: { :class => 'form-horizontal'},
                    :url => @city.new_record?? {:action => :create} : country_district_city_path(@country.alpha2, @district[:alpha2], @city)) do |f| %>
  <%= f.error_notification %>
  <div class="container-fluid">
      <div class="col-md-3">
          <br/>
          <div class="control-group">
            <label class="control-label"><%= I18n.t('simple_form.labels.city.country_alpha2') %></label>
            <div class="controls">
              <input type="text" value="<%= @country.name %>" disabled>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><%= I18n.t('simple_form.labels.city.district_alpha2') %></label>
            <div class="controls">
              <input type="text" value="<%= @district[:name] %>" disabled>
            </div>
          </div>
          <div class="form-inputs">
            <%= f.hidden_field :country_alpha2 %>
            <%= f.hidden_field :district_alpha2 %>
            <%= f.input :name %>
            <%= f.input :name_alt %>
          </div>
          <br/>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
          <br/>
      </div>
  </div>
<% end %>
