<h2><%= "#{I18n.t('helpers.links.edit')} #{I18n.t('activerecord.models.city.one')}" %> </h2>

<%= render 'form' %>

<%= link_to I18n.t('helpers.links.show'), country_district_city_path(@country.alpha2, @district[:alpha2], @city) %> |
<%= link_to I18n.t('helpers.links.back'), country_district_cities_path(@country.alpha2, @district[:alpha2]) %>
