<h1><%= I18n.t('activerecord.models.city.other') %></h1>

<ul class="breadcrumb">
  <li><%= link_to countries_path do %><span class='glyphicon glyphicon-globe'></span><% end %></li>
  <span class="divider">/</span>
  <li><%= link_to @country.name, country_districts_path(params[:country_id]) %></li>
  <span class="divider">/</span>
  <li><%= link_to @district[:name] %></li>
</ul>

<table class='table table-condensed table-striped'>
  <thead>
    <tr>
      <th><%= I18n.t('simple_form.labels.city.code') %></th>
      <th><%= I18n.t('simple_form.labels.city.name') %></th>
      <th><%= I18n.t('simple_form.labels.city.name_alt') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @cities.each do |city| %>
      <tr>
        <td><%= city.id %></td>
        <td><%= link_to city.name, country_district_city_venues_path(city.country_alpha2, city.district_alpha2, city.id) %></td>
        <td><%= city.name_alt %></td>
        <td><%= link_to I18n.t('helpers.links.show'), country_district_city_path(params[:country_id], params[:district_id], city) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{I18n.t('helpers.links.new')} #{I18n.t('activerecord.models.city.one')}", new_country_district_city_path(params[:country_id], params[:district_id]) %>
