<h1><%= "#{I18n.t('helpers.links.new')} #{I18n.t('activerecord.models.city.one')}" %></h1>

<%= render 'form' %>

<%= link_to I18n.t('helpers.links.back'), country_district_cities_path(@country.alpha2, @district[:alpha2]) %>
