<p id="notice"><%= notice %></p>

<p>
  <strong><%=  I18n.t('simple_form.labels.city.country_alpha2')%>:</strong>
  <%= @city.country_alpha2 %> - <%= @country.name %>
</p>

<p>
  <strong><%=  I18n.t('simple_form.labels.city.district_alpha2')%>:</strong>
  <%= @city.district_alpha2 %> - <%= @district[:name] %>
</p>

<p>
  <strong><%=  I18n.t('simple_form.labels.city.name')%>:</strong>
  <%= @city.name %>
</p>

<p>
  <strong><%=  I18n.t('simple_form.labels.city.name_alt')%>:</strong>
  <%= @city.name_alt %>
</p>

<% if can? :edit, @city %>
    <%= link_to I18n.t('helpers.links.edit'), edit_country_district_city_path(@country.alpha2, @district[:alpha2], @city) %> |
<% end %>
<%= link_to I18n.t('helpers.links.back'), country_district_cities_path(@country.alpha2, @district[:alpha2]) %>

<% if can? :delete, @city %>
    <hr class="divider"></hr>
    <div class="alert alert-error">
      <%= link_to I18n.t('helpers.links.destroy'), country_district_city_path(params[:country_id], params[:district_id], @city), method: :delete, data: { confirm:  I18n.t('helpers.links.confirm') } %>
      <%= I18n.t('helpers.titles.delete_warning', model: I18n.t('activerecord.models.city.one')) %>
    </div>
<% end %>
