// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.social-share-list {
  vertical-align: top;
  li {
    &.twt {margin-bottom: -5px; vertical-align: top;}
    &.gp {margin-bottom: -5px; vertical-align: top;}
    &.fb {margin-bottom: 0px; vertical-align: top;}
  }
}

td.utrusted {
  color: grey;
}

