<h1>Listing categories</h1>
<div class="well">
  <dl class="dl-horizontal">
    <% @categories.each do |category| %>
      <dt><%= category.name %></dt>
      <% category.subcategories.all.each do |subcategory| %>
          <dd><%= "#{subcategory.id}. #{subcategory.name}" %></dd>
      <% end %>
      <br/>
    <% end %>
  </dl>
</div>