<p><%= I18n.t('devise.email.welcome')%> <%= @email %>!</p>

<p><%= I18n.t('devise.email.confirmation_instruction_msg') %>:</p>

<p><%= link_to I18n.t('devise.email.confirm_my_account'), confirmation_url(@resource, :confirmation_token => @token) %></p>
