<p><%= I18n.t('greetings.hello') %> <%= @resource.email %>!</p>

<p><%= I18n.t('devise.email.someone_requested_password_instructions') %></p>

<p><%= link_to I18n.t('devise.email.change_my_password'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= I18n.t('devise.email.password_change_request_info_p1') %>.</p>
<p><%= I18n.t('devise.email.password_change_request_info_p2') %>.</p>
