<p><%= I18n.t('greetings.hello') %> <%= @resource.email %>!</p>

<p><%= I18n.t('devise.email.locked_account_message') %>.</p>

<p><%= I18n.t('devise.email.locked_account_option') %>:</p>

<p><%= link_to I18n.t('devise.email.locked_account_button'), unlock_url(@resource, :unlock_token => @token) %></p>
