<%= simple_form_for(@show, :html => { :class => 'form-horizontal', :multipart => true }) do |f| %>
    <%= f.error_notification %>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-4 text-center">
          <%= image_tag @show.photo.url %>
          <%= f.file_field :photo %>
        </div>
        <div class="col-md-6">
          <% if current_user.admin? %>
            <div class="form-inputs">
              <div class="checkbox">
                <%= f.input :visible, :collection => {I18n.t('simple_form.yes') => Show::VISIBLE_YES, I18n.t('simple_form.no') => Show::VISIBLE_NO, I18n.t('simple_form.dont_know') => Show::VISIBLE_DONT_KNOW} %>
              </div>
            </div>
          <% end %>

          <%= f.input :name, :required => true %>
          <%= f.input :description, as: :text %>
          <%= f.input :date do %>
            <div class="input-group date">
              <%= f.text_field :date, 'data-behaviour' => 'datetimepicker', value: @show.date, class: 'form-control', :disabled => false %>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          <% end %>

          <%= f.input :country_alpha2 do %>
            <%= f.select :country_alpha2, options_for_select(available_countries.map {|c| [c.name, c.alpha2]}.insert(0, ''), @show.country_alpha2), {}, { id:'cb_generic_country', class:'form-control' } %>
          <% end %>
          <%= f.input :district_alpha2 do %>
            <%= f.select :district_alpha2, options_for_select((Country[@show.country_alpha2]? (Country[@show.country_alpha2].states.map {|c| [c[1]['name'], c[0]]}):{}), @show.district_alpha2), {}, { id:'cb_generic_district', class:'form-control', include_blank: true } %>
          <% end %>
          <%= f.input :city_id do %>
            <%= f.select :city_id, options_for_select(City.from_country(@show.country_alpha2).from_district(@show.district_alpha2).map {|c| [c.name, c.id]}, @show.city_id), {}, { :id => 'cb_generic_city', class:'form-control', include_blank: true } %>
          <% end %>
          <%= f.input :venue_name %>
            <% #f.select :venue_id, options_for_select(Venue.from_city(@show.city_id).map {|v| [v.name, v.id]}, @show.venue_id), {}, { :id => 'cb_generic_venue', include_blank: true }
            %>

          <%= f.input :price %>
          <br/>
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>


<% end %>
