<% content_for :head do %>
    <meta property="fb:app_id" content="<%= Showgeeks::FACEBOOK_APP_ID %>" />
    <meta property="og:type"   content="article" />
    <meta property="og:site_name" content="Showgeeks" />
    <meta property="og:url"    content="<%= root_url %>" />
    <meta property="og:title"  content="<%= I18n.t('shows.ograph_general_title') %>"/>
    <meta property="og:description" content="<%= I18n.t('shows.ograph_general_description') %>" />
    <meta property="og:image" content='' />
<% end %>

<div class="col-md-8 col-lg-9">
  <div id="div_regionSuggestion" class='alert alert-info' style="display: none">
  </div>

  <div id="div_showList">
    <%= render :partial => 'shows/lists/show_list', :locals => {showList: nil} %>
  </div>
</div>

<div class="col-md-4 col-lg-3" style="min-width: 275px">
   <p class="text-center">
      <%= link_to I18n.t('shows.create_event'), (can? :create, Show) ? new_show_path : new_user_session_path, class: 'btn btn-primary', style: 'width: 120px' %>
   </p>

  <% if can? :manage, Venue %>
      <div class="well">
        <h4 class="text-center">Admin panel</h4>
        <% if current_user and current_user.admin? %>
          <p class="bg-primary text-center"><strong><%= @decision_pending_count %></strong> events pending decision</p>
          <% if @view_undecided_option == true %>
            <%= link_to root_path(view_undecided: false) do %>
               <p class="bg-danger">
                <input type="checkbox" checked> undecided shows only</input>
               </p>
            <% end %>
          <% else %>
            <%= link_to root_path(view_undecided: true) do %>
                <input type="checkbox"> undecided shows only</input>
            <% end %>
          <% end %>
        <% end %>
        <h5>Venues</h5>
        <% @venues_list.each do |venue| %>
            <p><%= link_to venue.name, country_district_city_venue_path(venue.city.country_alpha2, venue.city.district_alpha2, venue.city_id, venue) %></p>
        <% end %>
        <%= render partial: 'crawlers/new_fb_venue' %>
      </div>
  <% end %>

  <div class="sidebar-nav">
    <%= render "maps/map" %>
  </div><!--/.well -->
  <div class="text-center">
    <%= link_to I18n.t('activerecord.models.contact.other'), contacts_path %>
    <!-- ·
    <%= #link_to I18n.t('privacy'), privacy_path
    %>
    ·
    <%= #link_to I18n.t('terms'), terms_path
  %> -->
  </div>
</div><!--/span-->