$('#shows_table').append('<%= j render :partial => 'shows/lists/show_list_contents', :locals => {showList: @showList} %>');
<% if @showList.next_page %>
    $('.pagination').replaceWith('<%= j will_paginate(@showList) %>');
<% else %>
    $('.pagination').remove();
<% end %>