$('#div_showList').hide();
$('#div_showList').html("<%= j render :partial => 'shows/lists/show_list', :locals => {showList: @showList} %>");
$('#div_categories_filter').html("<%= j render :partial => 'layouts/filters/show_category_filter', :locals => {showList: @showList} %>");

    //This is not necessary!
    //$('#cb_country').trigger("change", '<%= session[:country] %>');
    //$('#cb_district').val('<%= session[:district] %>');
    //$('#country_map').js_map('selectRegion', '<%= session[:district] %>')

$('#div_showList').fadeIn();