$("#div_regionSuggestion").html("<%= j render :partial => 'shows/lists/show_suggestion', :locals => {district_name: @district_name, district_alpha2: @district_alpha2} %>");
$('#div_regionSuggestion').show('slide');



