$('#show_checkbox_<%= @show.id %>').html('<%= j render :partial => 'shows/lists/visible_checkbox', :locals => {item: @show} %>');
$('#ignore_checkbox_<%= @show.id %>').html('<%= j render :partial => 'shows/lists/ignore_show_checkbox', :locals => {item: @show} %>');

// if hidden state, then remove the element from the list
<% if @show.visible == Show::VISIBLE_IGNORE %>
  $('#show_list_item<%= @show.id %>').html('')
<% end %>