<% content_for :head do %>
    <meta property="fb:app_id" content="<%= Showgeeks::FACEBOOK_APP_ID %>" />
    <meta property="og:type"   content="article" />
    <meta property="og:site_name" content="Showgeeks" />
    <meta property="og:url"    content="<%= show_url(@show) %>" />
    <meta property="og:title"  content="<%= "#{@show.name} - #{@show.city_name}" %>" />
    <meta property="og:description" content="<%= @show.description.empty? ? ("#{@show.name} - #{@show.city_name}") : @show.description %>" />
    <meta property="og:image"  content=<%= @show.photo_url %> />
<% end %>

<p id="notice"></p>

<div class="col-sm-offset-1 col-md-10">
  <div id="participants_votes" class="pull-right">
    <%= render partial: 'shows/votes/attending_votes' %>
  </div>
    <p>
      <h3>
        <%= link_to_if @show.artist, @show.name, @show.artist %>
      </h3>
    </p>

    <p>
    <div class="row-fluid">
        <span id="div_participants_info_label">
          <%= render 'shows/votes/attending_info' %>
        </span>
        ·
        <%= link_to "<fb:comments-count href=#{show_url(@show)}></fb:comments-count> ".html_safe + I18n.t('shows.show.comments'), :anchor => 'comments' %>
    </div>
    </p>
    <p>
      <strong><%= I18n.t('simple_form.labels.show.venue_name') %>:</strong>
      <% if @show.venue and @show.venue.visible %>
        <%= link_to @show.venue_name, country_district_city_venue_path(@show.country_alpha2, @show.district_alpha2, @show.city_id, @show.venue) %>
      <% else %>
          <%= @show.venue_name %>
      <% end %>
      <%= "@ #{@show.city_name}" %>
      <%= "- #{Country[@show.country_alpha2].states[@show.district_alpha2]['name']}" if show_state(@show.country_alpha2) %>
    </p>
    <p>
      <strong><%= I18n.t('simple_form.labels.show.date') %>:</strong>
      <% if @show.is_date_only %>
         <%= local_time(@show.date, '%B %e, %Y') %>, --:--
      <% else %>
          <%= local_time(@show.date, '%B %e, %Y, %H:%M') %>
      <% end %>
    </p>

    <p>
      <strong><%= I18n.t('simple_form.labels.show.price') %>:</strong>
      <%= @show.price unless !@show.price %>
    </p>
    <p>
      <strong><%= I18n.t('simple_form.labels.show.categories') %>:</strong>
      <div id="categories_error_notifier"></div>
      <div id="div_categories">
        <%= render partial: 'shows/votes/subcategory_votes' %>
      </div>
    </p>

    <div id="div_complaints">
      <%= render partial: 'shows/votes/warning_votes' %>
    </div>

    <% if @show.description or @show.photo_url or @show.photo %>
        <div>
          <table>
            <tbody>
                <tr>
                  <td width='200' align="center">
                      <% if @show.photo_url %>
                        <%= image_tag @show.photo_url %>
                      <% else %>
                        <%= image_tag @show.photo.url(:medium) %>
                      <% end %>
                  </td>
                  <td style="padding:10px 10px 10px 10px; vertical-align:top">
                    <% if !@show.description.blank? %>
                      <%= @show.description.html_safe %>
                    <% else %>
                        <p class="help-block"><%= I18n.t('shows.show.no_info_available') %></p>
                    <% end %>
                    <% if @show.url %>
                      <%= link_to I18n.t('shows.show.plus_info'), @show.url, target: '_blank' %>
                    <% end %>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
    <% end %>
    <br/>
    <br/>
      <ul class="social-share-list list-inline" >
        <li class='fb'>
          <%= like_button Showgeeks::FACEBOOK_APP_ID,
                          action: 'like',
                          layout: :box_count,
                          share: false,
                          href: show_url(@show)
          %>
        </li>
        <li class='gp'>
          <%= google_plus_button href: show_url(@show),
                                 script: true,
                                 layout: :box_count,
                                 annotations: :bubble,
                                 size: :tall
          %>
        </li>
        <li class='twt'>
          <%= tweet_button count: 'vertical',
                           text: "#{@show.name} @ #{@show.city_name}",
                           url: show_url(@show),
                           via: 'theshowgeeks' #Twitter account handler
          %>
        </li>
      </ul>
  <hr/>

  <a id="comments">
   <div class="fb-comments" data-href="<%= show_url(@show) %>" data-numposts="10" data-colorscheme="light"></div>
  </a>
  <div class="col-md-12 col-lg-12">
    <% if can? :edit, @show %>
      <%= link_to I18n.t('helpers.links.edit'), edit_show_path(@show) %> |
    <% end %>
    <%= link_to I18n.t('helpers.links.back'), root_path %>
    <div class="pull-right">
      <% if user_signed_in? %>
        <div id='div_denounceButton'>
          <%= render partial: 'shows/votes/denounce_button' %>
        </div>
      <% else %>
        <%= link_to I18n.t('shows.show.report.report'), new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
