<div>
    <% if item.visible == Show::VISIBLE_NO %>
        <%= link_to show_set_visible_path(show_id:item.id, :show => {visible: Show::VISIBLE_IGNORE}), method: :patch, remote: true, title:'Set to visible' do %>
            <icon class='glyphicon glyphicon-remove' title='ignore show'/>
        <% end %>
    <% end %>
</div>
