<% unless @showList.size > 0 %>
    <h4><%= I18n.t('shows.index.empty_show_list_statement') %></h4>
    <%= link_to I18n.t('shows.index.share_your_events'), user_signed_in? ? new_show_path : new_user_session_path %>
<% end %>

<% if current_user and current_user.admin? %>
    <p><%= @remoteCountry %></p>
<% end %>

<table id="shows_table" class='table table-condensed table-striped'>
  <tbody>
    <%= render :partial => 'shows/lists/show_list_contents', :locals => {showList: @showList} %>
  </tbody>
</table>

<%= will_paginate @showList if @showList.any? %>