<div style='display:inline;'>

  <%= link_to "#{I18n.t('shows.index.shows_place_suggestion')} #{district_name}", reload_shows_path(:country => @country, :district => district_alpha2), :method=> :post, :remote => true, :id=>'btn_suggestion',
              :onclick => "$('#div_regionSuggestion').hide('slide');" %>

  <div class="pull-right">
      <%= #link_to 'edit my favourite locations', root_path
      %>
  </div>
</div>