<tr/>

<% not_trusted_shows = [] %>
<% maxShowCountPerDay = 5 %>

<% @showList.each_with_index do |item, index| %>

    <!-- header of day -->
    <% if index == 0 || @showList[index-1].date.to_date != @showList[index].date.to_date %> <!-- day change -->
        <tr style="border-top: 2px solid grey">
          <td colspan="7">
            <h5 class="text-center">
              <div class="pull-left">
                  <% if Date.today == item.date.to_date %>
                     <strong><%= I18n.t('date.today')%></strong>
                  <% elsif Date.tomorrow == item.date.to_date %>
                    <strong><%= I18n.t('date.tomorrow')%></strong>
                  <% else %>
                     <strong><%= I18n.t('datetime.distance_in_words.x_days', count: (item.date.to_date - Date.today).to_i) %></strong>
                  <% end %>
              </div>
              <%= I18n.l item.date %>
            </h5>
          </td>
        </tr>
    <% end %>

    <!-- trusted content of day -->
    <% if item.trust.to_i >= Show::TRUSTED_SOURCE_LEVEL %>
        <% maxShowCountPerDay -= 1 %>
        <tr id="show_list_item<%= item.id %>">
          <% if current_user and current_user.admin? %>
              <td id="show_checkbox_<%= item.id %>" width='40'>
              <%= render partial: 'shows/lists/visible_checkbox', locals: {item: item} %>
            </td>
          <% end %>
          <td>
            <%= link_to item.name.html_safe, show_path(item.id) %>
            <%= "- #{I18n.t('shows.canceled')}"  if item.canceled %>
          </td>
          <td><%= item.city_name.html_safe %></td>
          <td width='150'>
            <p title="<%= item.venue_name.html_safe %>">
              <% if !item.venue_website.blank? %>
                  <%= link_to_if item.venue, item.venue_name.truncate(20).html_safe, country_district_city_venue_path(item.country_alpha2, item.district_alpha2, item.city_id, item) %>
              <% else %>
                  <%= item.venue_name.truncate(20).html_safe %>
              <% end %>
            </p>
          </td>
          <td width='50'>
            <%= local_time(item.date, '%H:%M') unless item.is_date_only %>
          </td>
          <td style="width: 25px">
            <% if item.trust.to_i >= Show::TRUSTED_SOURCE_LEVEL %>
                <%  if item.venue_icon %>
                    <%= image_tag item.venue_icon, size: '16x16', title: I18n.t('shows.index.this_is_an_event_from') + ' ' + item.venue_name %>
                <% elsif item.artist_icon %>
                    <%= image_tag item.artist_icon, size: '16x16', title: I18n.t('shows.index.this_is_an_event_from') + ' ' + item.venue_name %>
                <% else %>
                    <i class="glyphicon glyphicon-star-empty" title="<%= I18n.t('shows.index.trust_level_good') %>"></i>
                <% end %>
            <% end %>
          </td>
          <% if current_user and current_user.admin? %>
            <td id="ignore_checkbox_<%= item.id %>" width='18'>
              <%= render partial: 'shows/lists/ignore_show_checkbox', locals: {item: item} %>
            </td>
          <% end %>
        </tr>
    <% else %>
      <% not_trusted_shows.push(item) %>
    <% end %>

    <!-- end of day -->
    <% if index == @showList.size-1 || @showList[index+1].date.to_date != @showList[index].date.to_date %> <!-- last item or day change -->

        <% notTrustedShowsShown = 0 %>
        <!-- untrusted content of day -->
        <% not_trusted_shows.each do |item| %>
            <% if maxShowCountPerDay > 0 %> <!-- permit some untrusted if the day is too empty -->
             <tr id="show_list_item<%= item.id %>" class="list_more">
                <% maxShowCountPerDay -= 1 %>
                <% notTrustedShowsShown += 1 %>
            <% else %>
             <tr id="show_list_item<%= item.id %>" class="list_more" style='<%= 'display: none;' if !show_untrusted_shows %>'>
            <% end %>
              <% if user_signed_in? and current_user.admin? %>
                  <td id="show_checkbox_<%= item.id %>" width='40'>
                    <%= render partial: 'shows/lists/visible_checkbox', locals: {item: item} %>
                  </td>
              <% end %>
              <td>
                <%= link_to item.name.html_safe, show_path(item.id) %>
                <%= '- Canceled'  if item.canceled %>
              </td>
              <td class="utrusted"><%= item.city_name.html_safe %></td>
              <td class="utrusted" width='150'>
                <p title="<%= item.venue_name.html_safe %>">
                  <% if !item.venue_website.blank? %>
                      <%= link_to_if item.venue, item.venue_name.html_safe, country_district_city_venue_path(item.country_alpha2, item.district_alpha2, item.city_id, item.venue) %>
                  <% else %>
                      <%= item.venue_name.truncate(20).html_safe %>
                  <% end %>
                </p>
              </td>
              <td class="utrusted" width='50'>
                <%= local_time(item.date, '%H:%M') unless item.is_date_only %>
              </td>
              <td style="width: 45px"/> <!-- This is not trusted, so no icon -->
              <% if current_user and current_user.admin? %>
                <td id="ignore_checkbox_<%= item.id %>" width='18'>
                  <%= render partial: 'shows/lists/ignore_show_checkbox', locals: {item: item} %>
                </td>
              <% end %>
            </tr>
        <% end %>
        <% if !show_untrusted_shows and ((not_trusted_shows.size - notTrustedShowsShown) > 0) %>
            <tr class='list_more_button'>
              <td colspan="7" style="color: grey;">
                <%= not_trusted_shows.size - notTrustedShowsShown %> more ·
                <%= link_to 'see all', root_path(show_all_shows: true), {:style=>'color: grey;'} %>
              </td>
            </tr>
        <% end %>
        <% not_trusted_shows = [] %>
        <tr><td colspan="7"><br/></td></tr>

    <% end %>

<% end %>
