<div class='<%= show_line_class(item) %>'>
    <% if item.visible == Show::VISIBLE_YES %>
        <%= link_to show_set_visible_path(show_id:item.id, :show => {visible: Show::VISIBLE_NO}), method: :patch, remote: true, title:'Set to visible' do %>
            <input type="checkbox" checked>
        <% end %>
    <% elsif  item.visible == Show::VISIBLE_NO %>
        <%= link_to show_set_visible_path(show_id:item.id, :show => {visible: Show::VISIBLE_YES}), method: :patch, remote: true, title:'Set to visible' do %>
          <input type="checkbox">
          <icon class="glyphicon glyphicon-eye-close"></icon>
        <% end %>
    <% else %>
        <%= link_to show_set_visible_path(show_id:item.id, :show => {visible: Show::VISIBLE_YES}), method: :patch, remote: true, title:'Set to visible' do %>
            <input type="checkbox" checked>
        <% end %>
        <%= link_to show_set_visible_path(show_id:item.id, :show => {visible: Show::VISIBLE_NO}), method: :patch, remote: true, title:'Set to visible' do %>
            <input type="checkbox">
        <% end %>
    <% end %>
</div>
