<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Showgeeks" %></title>
    <%= content_for?(:head) ? yield(:head) : '' %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <!-- title, scripts, css etc go here -->
    <noscript>
      <meta http-equiv="refresh" content="2;url=http://yoursite.com/nojswarning.html">
    </noscript>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- font awesome for social buttons icons -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="navbar navbar-default">
      <div class="container">
          <div class="navbar-header">
            <%= link_to 'Showgeeks', root_url, { class: 'navbar-brand', style: ('color: yellowgreen' if user_signed_in? and current_user.admin?) } %>
          </div>
          <ul class="nav navbar-nav">
            <li><%= #link_to 'Share your events'
                   %></li>
            <ul id='div_categories_filter' class="nav navbar-nav">
                <%= render 'layouts/filters/show_category_filter' %>
            </ul>

          </ul>
          <ul class="nav navbar-nav navbar-right list-inline">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" style='height: 50px;' data-toggle="dropdown">
                <div class="btn btn-social-icon">
                  <i class="fa fa-twitter"></i>
                </div>
                <div class="btn btn-social-icon">
                  <i class="fa fa-facebook"></i>
                </div>
                <div class="btn btn-social-icon">
                  <i class="fa fa-google-plus"></i>
                </div>
              </a>
              <ul class="dropdown-menu social-share-list list-inline" style="width: 200px;">
                <h4 class="col-sm-12"><%= I18n.t('layouts.application.social.tell_your_friends')%></h4>
                <li class="fb">
                  <%= like_button Showgeeks::FACEBOOK_APP_ID,
                                  action: 'like',
                                  layout: :box_count,
                                  share: false,
                                  href: shows_url %>
                </li>
                <li class='twt'>
                  <%= tweet_button count: 'vertical',
                                  text: "Showgeeks: #{I18n.t('layouts.application.social.twitter_share')}",
                                  url: shows_url,
                                  via: 'theshowgeeks' #Twitter account handler
                  %>
                </li>
                <li class='gp'>
                  <%= google_plus_button href: shows_url,
                                         script: true,
                                         layout: :box_count,
                                         annotations: :bubble,
                                         size: :tall
                  %>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= I18n.locale %>
              </a>
              <ul class="dropdown-menu">
                <% LANGUAGES.each do |loc| %>
                  <li><%= link_to loc[0], locale: loc[1] %></li>
                <% end %>
              </ul>
            </li>

            <% if user_signed_in? %>
                <% if current_user.admin or current_user.is_seller %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t('layouts.application.admin.manage') %> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <% if can? :index, User %>
                          <li>
                            <%= link_to users_path do %>
                             <i class='glyphicon glyphicon-user'></i> <%= I18n.t('layouts.application.admin.users') %>
                            <% end %>
                          </li>
                        <% end %>
                        <hr>
                      </ul>
                    </li>
                <% end %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" style='height: 50px;' data-toggle="dropdown">
                    <%= image_tag(current_user.avatar.url(:thumb)) %>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to I18n.t('layouts.application.admin.my_account'), edit_user_path(current_user) %></li>
                    <li><%= link_to I18n.t('devise.options.logout'), destroy_user_session_path, :method => :delete  %></li>
                  </ul>
                </li>
            <% else %>
              <li><%= link_to I18n.t('devise.options.login'), new_user_session_path  %></li>
            <% end %>
           </ul>
      </div>
    </div>

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div> <!-- /container -->

    <br/>
    <footer class="navbar navbar-bottom col-lg-12 col-md-12 col-sm-12">
      <p>&copy; Showgeeks <%= Time.now.year %></p>
      <!-- Analytics -->
      <%= render 'layouts/shared/analytics' %>
    </footer>

  </body>

</html>
